// Основная палитра
$primary-color: #00B0FF;
$secondary-color: #00578d;
$accent-color: #008bcb;
$text-color: #FFFFFF;
$background-color: #333333;
$block-color: #2C2C2C;
$highlight-color: #32CD32;
$additional-accent-color: #800080;